.app-container{
  display : flex;

}
.content{
  width : 100%;
}
.sidebar{
  min-height : 800px;
}
.post-card{
  min-width : 30rem; 
  margin : 20px 50px;


}
.hashtag{
  margin : 0px 3px;

}
.reactions{
  margin: 15px 0 0 0;
  width : 100%;
}
.create-post{
  width : 80%;
  margin-top : 50px;
  margin-left : 10%;

}
.search{
  width : 200px;
  border-right : none;
  border-radius: 0%;
}
.search-box{
  width : 260px;
  display : flex;
  margin-right : 10px;

}
.search-btn{
  margin-right : 10px;
  border-radius: 0%;
  border-top-right-radius: 12%;
  border-bottom-right-radius: 12%;
}
.text-end{
  margin-left : 20px;
}